<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Created by Praveen Kumar on 17/2/21 9:22 PM for BlogPostApp.
  ~  Copyright (c) 2021.
  ~  Last modified 17/2/21 9:02 PM.
  ~
  ~  This file/part of BlogPostApp is OpenSource.
  ~
  ~  BlogPostApp is free software: you can redistribute it and/or modify it under the terms of
  ~  the GNU General Public License as published by the Free Software Foundation,
  ~  either version 3 of the License, or (at your option) any later version.
  ~
  ~  BlogPostApp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~  See the GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License along with Foobar.
  ~  If not, see http://www.gnu.org/licenses/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geeks4ever.blogpostapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlogPostApp">
        <activity android:name=".view.AddPost"></activity>
        <activity android:name=".view.signUp" />
        <activity android:name=".view.Login" />
        <activity android:name=".view.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>